
.bs-innerpage-con-wrap .default-page-con{
	padding-bottom: 120px;
}
.blog-single-entry-hdr{
	padding-bottom: 70px;
}
.blog-single-entry-hdr .fl-blue-btn{
	width: 318px;
}
.bs-dfp-promo-module{
	padding-bottom: 53px;
}
.bs-dfp-promo-module-hdr{
	max-width: 973px;
	width: 100%;
	margin: 0 auto;
}
.bs-dfp-promo-module-date{
	display: block;
	font-size: 18px;
	line-height: 1;
	color: #B3192A;
	margin-bottom: 14px;
}
.bs-dfp-promo-module-title.fl-h2{
	text-transform: uppercase;
	color: #71867E;
	padding-bottom: 48px;
	line-height: 1.2;
	display: inline-block;
}
.bs-innerpage-con-wrap .dfp-cta-module{
	padding-bottom: 35px;
}
.dfp-socilas-module{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 5px;
}
.dfp-socilas-module span{
	padding-right: 16px;
	line-height: 1;
	color: #78797B;
}
.dfp-socilas-module ul{
	display: flex;
	align-items: center;
	margin: 0 -5px;
	padding-bottom: 0!important;
}
.dfp-socilas-module ul li{
	padding: 0 5px;
}
.dfp-socilas-module ul li a{
	color: #78797B;
	display: inline-block;
	font-size: 16px;
}
.dfp-socilas-module ul li a:hover{
	color: #b4192b;
}
.related-articles-sec{
	background: #fffaf4;
	padding-top: 95px;
	padding-bottom: 55px;
}
.related-articles-title{
	margin-bottom: 45px;
	text-align: center;
}

.blog-grid-wrap{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -13px;
}
.blog-grid-item-wrap{
	padding: 0 13px;
	width: 50%;
}
.blog-grid-item-wrap .blog-item{
	background: #fff;
}

.blog-grid-item-wrap:nth-child(2n+2) .blog-item-img-cntlr{
	order: 2;
}
.blog-grid-item-wrap:nth-child(2n+2) .blog-item-desc-cntlr{
	order: 1;
}

/*responsive*/
@media(max-width: 1599px){

}
@media(max-width: 1399px){
	
}
@media(max-width: 1199px){
	.bs-innerpage-con-wrap .default-page-con{
		padding-bottom: 95px;
	}
	.related-articles-sec{
		padding-top: 75px;
	}
}
@media(max-width: 991px){
	.blog-single-entry-hdr .fl-blue-btn{
		width: 260px;
	}
	.bs-dfp-promo-module-date{
		margin-bottom: 12px;
		font-size: 16;
	}
	.bs-dfp-promo-module-title.fl-h2{
		padding-bottom: 40px;
	}
	.bs-innerpage-con-wrap .default-page-con{
		padding-bottom: 75px;
	}
	.related-articles-sec{
		padding-top: 55px;
		padding-bottom: 40px;
	}
	.related-articles-title.fl-h3{
		margin-bottom: 40px;
	}
}
@media(max-width: 767px){
	.blog-single-entry-hdr{
		padding-bottom: 51px;
	}
	.blog-single-entry-hdr .fl-blue-btn{
		width: initial;
		font-size: 30px;
	}
	.bs-dfp-promo-module-date{
		margin-bottom: 10px;
		font-size: 14;
	}
	.bs-dfp-promo-module-title.fl-h2{
		padding-bottom: 25px;
	}
	.bs-dfp-promo-module{
		padding-bottom: 30px;
	}
	.bs-innerpage-con-wrap .default-page-con{
		padding-bottom: 55px;
	}
	.related-articles-sec{
		padding-top: 35px;
		padding-bottom: 30px;
	}
	.related-articles-title.fl-h3{
		margin-bottom: 30px;
	}
}
@media(max-width: 639px){
	
}

@media(max-width: 575px){
	.bs-dfp-promo-module-title.fl-h2{
		font-size: 24px;
		padding-bottom: 16px;
	}
	.bs-dfp-promo-module{
		padding-bottom: 20px;
	}
	.bs-innerpage-con-wrap .default-page-con{
		padding-bottom: 35px;
	}
	.related-articles-sec{
		padding-top: 28px;
		padding-bottom: 26px;
	}
	.related-articles-title.fl-h3{
		margin-bottom: 23px;
	}
}
@media(max-width: 479px){
	
}
