/**
Commons
*/
*, *:focus,.btn,.btn:focus{
	outline: 0!important;
	text-decoration: none;
}

a, button, input{
	outline: 0;
	border: 0;
}
a, a:hover, a:focus, button:hover, button:focus{
	text-decoration: none;
	outline: 0;
}
dl, dd{
	margin-bottom: 0;
}
body {
    background: #F9F5EF;
    color: #78797B;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    /*font-family: 'Ubuntu', sans-serif;*/
}
p{
	line-height: 1.5;
	margin-bottom: 15px;
}
::selection {
  color: #fff;
  background: #6DBD98;
}
/*-- app gap use pattern --*/
/*data-xxs = 575
data-xs = 767
data-sm = 991
data-md = 1199
data-value = normal*/

/**
Containers fluid
*/
.container-fluid{
	padding-left: 20px;
	padding-right: 20px;
  	width: auto;
}
.container-fluid .row{
	margin-left: -20px;
	margin-right: -20px;
}

.container-fluid .row .col-lg-1, .container-fluid .row .col-lg-10, .container-fluid .row .col-lg-11, .container-fluid .row .col-lg-12, .container-fluid .row .col-lg-2, .container-fluid .row .col-lg-3, .container-fluid .row .col-lg-4, .container-fluid .row .col-lg-5, .container-fluid .row .col-lg-6, .container-fluid .row .col-lg-7, .container-fluid .row .col-lg-8, .container-fluid .row .col-lg-9, 
.container-fluid .row .col-md-1, .container-fluid .row .col-md-10, .container-fluid .row .col-md-11, .container-fluid .row .col-md-12, .container-fluid .row .col-md-2, .container-fluid .row .col-md-3, .container-fluid .row .col-md-4, .container-fluid .row .col-md-5, .container-fluid .row .col-md-6, .container-fluid .row .col-md-7, .container-fluid .row .col-md-8, .container-fluid .row .col-md-9, 
.container-fluid .row .col-sm-1, .container-fluid .row .col-sm-10, .container-fluid .row .col-sm-11, .container-fluid .row .col-sm-12, .container-fluid .row .col-sm-2, .container-fluid .row .col-sm-3, .container-fluid .row .col-sm-4, .container-fluid .row .col-sm-5, .container-fluid .row .col-sm-6, .container-fluid .row .col-sm-7, .container-fluid .row .col-sm-8, .container-fluid .row .col-sm-9, 
.container-fluid .row .col-xs-1, .container-fluid .row .col-xs-10, .container-fluid .row .col-xs-11, .container-fluid .row .col-xs-12, .container-fluid .row .col-xs-2, .container-fluid .row .col-xs-3, .container-fluid .row .col-xs-4, .container-fluid .row .col-xs-5, .container-fluid .row .col-xs-6, .container-fluid .row .col-xs-7, .container-fluid .row .col-xs-8, .container-fluid .row .col-xs-9{
	padding-left: 20px;
	padding-right: 20px;
}


/**
Containers
*/
.container-xlg,
.container-lg,
.container-md,
.container-sm,
.container-xs{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-xlg:before,
.container-xlg:after,
.container-lg:before,
.container-lg:after,
.container-md:before,
.container-md:after,
.container-sm:before,
.container-sm:after,
.container-xs:before,
.container-xs:after{
	content: "";
	display: table;
	clear: both;
}
.container-xlg{
	
}
.container-lg{

}
.container{
	max-width: 1430px;
	width: 100%;
}
.container-md{

}

.container-sm{

}


.ulc{
	margin: 0;
	padding: 0;
	list-style: none;
}

.first:first-child{
	padding-left: 0;
	margin-left: 0;
}
.last:last-child{
	padding-right: 0;
	margin-right: 0;
}
img{
	max-width: 100%;
	height: auto;
}

.hide-lg{
	display: block!important;
}
.show-lg{
	display: none!important;
}
.hide-md{
	display: block!important;
}
.show-md{
	display: none!important;
}
.hide-sm{
	display: block!important;
}
.show-sm{
	display: none!important;
}
.hide-xs{
	display: block!important;
}
.show-xs{
	display: none!important;
}

.divider{
	line-height: 0;
	font-size: 0;
}
.overlay-link{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.inline-bg{
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}

ul.reset-list,
ol.reset-list,
ul.sub-menu,
.fl-pagi-ctlr ul,
.reset-slect ul,
ul.ab-top-menu{
	margin: 0;
	padding: 0;
	list-style: none;
}
.reset-list li,
ul.sub-menu li,
.fl-pagi-ctlr ul li,
.reset-slect ul li,
ul.ab-top-menu li{
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0;
}
.reset-list li:before,
ul.sub-menu li:before,
.fl-pagi-ctlr ul li:before,
.reset-slect ul li:before,
ul.ab-top-menu li:before{
	content: none!important;
}



ul.reset-list,
ol.reset-list,
ul.sub-menu,
.fl-pagi-ctlr ul,
.fl-pagi-cntlr ul,
.reset-slect ul,
ul.ab-top-menu,
.meta-crtl ul,
.fl-products-cntlr ul.products,
ul.products,
.product-page-sidebar .sidebar-widget ul,
.custom-info-crtl ul,
.variations select ul.dropdown-menu.inner{
	margin: 0;
	padding: 0;
	list-style: none;
}
.reset-list li,
ul.products li,
ul.sub-menu li,
.fl-pagi-ctlr ul li,
.fl-pagi-cntlr ul li,
.reset-slect ul li,
ul.ab-top-menu li,
.meta-crtl ul li,
.fl-products-cntlr ul.products li,
.product-page-sidebar .sidebar-widget ul li,
.custom-info-crtl ul li,
.variations select ul.dropdown-menu.inner li{
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0;
}
.reset-list li:before,
ul.sub-menu li:before,
.fl-pagi-ctlr ul li:before,
.fl-pagi-cntlr ul li:before,
.reset-slect ul li:before,
ul.ab-top-menu li:before,
.meta-crtl ul li:before,
.fl-products-cntlr ul.products li:before,
ul.products li:before,
.product-page-sidebar .sidebar-widget ul li:before,
.custom-info-crtl ul li:before,
.variations select ul.dropdown-menu.inner li:before{
	content: none;
}



.sidebar-widget ul,
ul.dropdown-menu,
.moove-gdpr-modal-left-content ul,
.woocommerce-MyAccount-navigation ul{
	margin: 0!important;
	padding: 0!important;
	list-style: none!important;
}
.sidebar-widget ul li,
ul.dropdown-menu li,
.moove-gdpr-modal-left-content ul li,
.woocommerce-MyAccount-navigation ul{
	padding: 0!important;
	margin: 0!important;
	list-style: none!important;
	margin: 0!important;
}
.sidebar-widget ul li:before,
ul.dropdown-menu li:before,
.moove-gdpr-modal-left-content ul li:before,
.woocommerce-MyAccount-navigation ul:before{
	content: none!important;
}






strong{
	font-weight: 700;
}
a{
	color: #873C42;
}
a:hover{
	color: #6DBD98;
}





/*Slider break fix*/
.ftrTopSlider .ftr-slider-grd-item{
	display: none;
}
.ftrTopSlider .ftr-slider-grd-item:first-child{
	display: none;
}

.ftrTopSlider.slick-initialized .ftr-slider-grd-item{
	display: block;
}

/**
Selects
*/
form .bootstrap-select{
    text-transform: uppercase;
	color: #710023;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	width: 100%!important;
}
form .bootstrap-select button{
	background: transparent;
	border: 0;
	color: #710023;
	text-transform: uppercase;
	font-size: 16px;
}
form .bootstrap-select .caret{
	border: 0;
}

.btn-light:not(:disabled):not(.disabled).active:focus, 
.btn-light:not(:disabled):not(.disabled):active:focus, 
.show>.btn-light.dropdown-toggle:focus{
	box-shadow: none!important;
}



.dropdown-toggle{
	position: relative;
	background: transparent!important;
	min-height: 40px;
}
.dropdown-toggle::after{
	content: none;
}
.dropdown-toggle::before{
	content: "\f107"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #1E1E1E;
    font-size: 22px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 15px;
    line-height: 15px;
}
.bootstrap-select.show .dropdown-toggle::before{
	content: "\f106"!important;
}

.btn-light.focus, 
.btn-light:focus{
	box-shadow: none!important;
}
form .show > .dropdown-toggle.btn-default:hover,
form .btn-default.active, form .btn-default:active, 
form .show > .dropdown-toggle.btn-default{
    color: #710023;
    background-color: transparent;
    border: 0;
}
form .btn-default:hover,
form .btn-default:focus,
.btn-default.active.focus, .btn-default.active:focus, 
.btn-default.active:hover, .btn-default:active.focus, 
.btn-default:active:focus, .btn-default:active:hover, 
.show>.dropdown-toggle.btn-default.focus, 
.show>.dropdown-toggle.btn-default:focus,
.show>.dropdown-toggle.btn-default:hover{
    color: #710023;
    background-color: transparent;
    border: 0;
    outline: 0!important;
}
form .bootstrap-select .dropdown-toggle:focus{
	outline: 0!important;
}
form .dropdown-menu{
    margin: 0;
    background-color: #cabb9f;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 12px 0 10px;
}
form .dropdown-menu li{
    position: relative;
    margin-bottom: 6px;
}
form .dropdown-menu li a{
	padding-top: 6px;
	color: #fff;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover{
	background-color: #b4192b;
}

.bootstrap-select .dropdown-toggle:focus{
	outline: none!important;
}

.dropup .dropdown-toggle::after{
	content: none!important;
}
.dropdown-menu.show{
	width: 100%;
	font-size: 13px;
}





.fl-transparent-btn{
	width: 184px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	letter-spacing: 0.04em;
	background: transparent;
	color: #78797B;
	border: 1px solid #78797B;
	text-transform: uppercase;
}
.fl-transparent-btn:hover{
	background: #78797B;
	color: #fff;
}

.fl-red-btn{
	width: 170px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	letter-spacing: 0.04em;
	background: #B3192A;
	color: #ECF1F4;
	box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.1);
	border-radius: 4px;
	border: 1px solid #B3192A;
	text-transform: uppercase;
}
.fl-red-btn:hover{
	background: transparent;
	color: #B3192A;
}
.fl-blue-btn{
	width: 235px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	background: #6DBD98;
	color: #fff;
	border-radius: 4px;
	border: 1px solid #6DBD98;
	text-transform: uppercase;
}
.fl-blue-btn:hover{
	background: transparent;
	color: #6DBD98;
}


