/*
---------------------
 contact-form-sec-wrp
---------------------
*/
.page-banner-sec-wrp{

}
.page-entry-hdr{
	padding-bottom: 55px;
}
.page-entry-hdr .fl-blue-btn{
	font-size: 48px;
	line-height: 1;
	width: auto;
	height: auto;
	float: left;
	background: #71867f!important;
	border-radius: 0;
	border-color: #71867f!important;
	padding: 10px 45px;
	letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF!important;
}
.contact-form-sec-wrp {
    padding-bottom: 85px;
}
.contact-form-lft {
    width: 73%;
    float: left;
    padding-right: 90px;
    padding-top: 14px;
}
.contact-form-rgt {
    width: 27%;
    float: right;
    position: relative;
}
.page-entry-header {
    border-bottom: 2px solid#F2EADE;
    padding-right: 0;
    padding-bottom: 25px;
    margin-bottom: 45px;
}
.page-entry-header .fl-h2 {
    color: #78797B;
    margin-bottom: 22px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.page-entry-header p{
	margin-bottom: 22px;
	color: #71867E;
}
.contact-form-block {
    padding-top: 25px;
}
.contact-form-info-cntlr {
    background: #FFFBF4;
    padding: 60px 20px 18px;
    text-align: center;
}

/*
---------------------
 Contact Form
---------------------
*/
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:after,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:before{
	content: "";
	clear: both;
	display: table;
}
.contact-form-wrp  div.wpforms-container-full .wpforms-form .wpforms-field{
	clear: initial;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
	width: 50%;
	float: left;
	padding: 0 12px;
	margin-bottom: 22px;
	position: relative;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.FullWidthField{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
	margin: 0 -12px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label {
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    margin: 0;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #78797B;
    margin-bottom: 10px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
	width: 100%;
	max-width: 100%;
	height: 50px;
	background: #FFFBF4;
    border: 1px solid #F2EADE;
	box-sizing: border-box;
	padding: 15px 15px 16px;
	color: #78797B;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	border-radius: 0;
	box-shadow: none !important;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea{
	width: 100%;
	margin-bottom: 27px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
	width: 100%;
	height: 235px;
	background:#FFFBF4;
	border: 1px solid #F2EADE;
	box-sizing: border-box;
	color: #8C8CA1;;
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	padding: 14px 15px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	resize: none;
	border-radius: 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea:focus,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus{
	border-color:#c0bebe;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
    max-width: 235px;
    width: 100%;
    height: 50px;
    border: 2px solid #6DBD98 !important;
    background: #6DBD98;
    border-radius: 4px;
    font-size: 16px!important;
    line-height: 1 !important;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: 600!important;
    transition: all 0.5s!important;
    -ms-transition: all 0.5s!important;
    -webkit-transition: all 0.5s!important;
    cursor: pointer!important;
    padding: 16px 10px 15px!important;
    text-align: center;
}
.contact-form-wrp .wpforms-field-pagebreak .wpforms-clear button:hover, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover{
    background: #b4192b!important;
    color: #fff!important;
    border-color: #b4192b !important;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.wpforms-field-text p {
    font-size: 14px;
    line-height: 1.3;
    color: #78797B;
    margin-bottom: 30px;
    padding-top: 3px;
    font-weight: 300;
}
.wpforms-field-text p a{
	color: #873C42;
	text-decoration: underline;
}
.wpforms-field-text p a:hover{
	color: #ba0820;
}
.contact-form-wrp .wpforms-container .wpforms-form.was-validated .wpforms-field-container .wpforms-has-error label.wpforms-error{
	display: block;

}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error span {
    display: block !important;
    top: 7px;
    bottom: auto !important;
    padding-right: 0 !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label.wpforms-field-label span{
    display: inline-block!important;
    position: static;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field span{
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #D17181;
    position: absolute;
    right: 14px;
    text-align: right;
    width: auto;
    text-transform: inherit;
    margin-bottom: 0;
    display: none;
    padding-right: 14px;
    cursor: pointer;
    bottom: 18px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error {
    font-size: 14px;
    line-height: 1;
    color: #D17181;
    position: absolute;
    bottom: 15px;
    display: block;
    right: 20px;
    padding-right: 12px;
    font-weight: 700 !important;
    text-align: right;
    text-transform: inherit;
    margin-bottom: 0;
    text-indent: 0 !important;
    background: url(../images/error-msg-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    color: transparent!important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error{
	font-weight: 400 !important;
	font-size: 14px;
	padding-left: 2px;
	display: block;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container span,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container label.wpforms-error{
	display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input {
    border: 1px solid #D17181 !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text{
	width: 100%!important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.form-privacy-text{
	margin-bottom: 15px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description{
    margin-top: 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p{
    font-size: 12px;
    line-height: 1.4;
    color: #6A6A6A;
    text-align: left;
    margin-bottom: 0 !important;
    padding-top: 25px !important;
    padding-right: 10px;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text p a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: underline;
	color: #6A6A6A;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text p a:hover{
	color: #E0861A;
}
.contact-form-wrp div.wpforms-container-full {
    margin-bottom: 0 !important;
}

.contact-form-wrp .wpforms-container label.wpforms-field-label span.wpforms-required-label{
	display: inline-block!important;
}
.wpforms-field.wpforms-field-html p{
	color: #78797B;
}
.wpforms-field.wpforms-field-html p a{
	color: #78797B;
	text-decoration: underline;
}
.wpforms-field.wpforms-field-html p a:hover{
	color: #e48aa4;
}
.contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-submit-container {
    padding: 0 !important;
}

/*
placeholder
*/

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #78797B;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input::-moz-placeholder { /* Firefox 19+ */
  color: #78797B;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input:-ms-input-placeholder { /* IE 10+ */
  color: #78797B;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input:-moz-placeholder { /* Firefox 18- */
  color: #78797B;
  opacity: 1;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #78797B;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea::-moz-placeholder { /* Firefox 19+ */
  color: #78797B;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea:-ms-input-placeholder { /* IE 10+ */
  color: #78797B;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea:-moz-placeholder { /* Firefox 18- */
  color: #78797B;
  opacity: 1;
}

/*
----------------------
Inputtype Radio Css
----------------------
*/

.input-type-radio input[type=radio],
.input-type-radio input[type=checkbox]{
  display:none;
}

.input-type-radio label,
.input-type-radio label{
    display: inline-block;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #78797B;
    margin: 0;
    padding-left: 25px;
    text-transform: inherit;
    padding-right: 28px;
    cursor: pointer;
    position: relative;
}
.input-type-radio input[type=radio] + label span.checkmark,
.input-type-radio input[type=checkbox] + label span.checkmark{
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border:1px solid#71867E;
    border-radius: 20px;
}
.input-type-radio input[type=radio]:checked + label:after,
.input-type-radio input[type=checkbox]:checked + label:after{
    content: "";
    outline: 0;
    background-color:#93A198;
    color: #fff;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    border-radius: 20px;
}

.contact-form-info ul li{
    display: block;
    padding-bottom: 28px;
}
.contact-form-info ul li span,
.contact-form-info ul li a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    color: #78797B;
    font-weight: 400;
}
.contact-form-info ul li a i{
	display: block;
	padding-bottom: 16px;
}
.fl-h6.contact-form-info-title{
    font-size: 20px;
    line-height: 1;
    color: #78797B;
    margin-bottom: 28px;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
}
.contact-form-info ul li a:hover{
	color:#B3192A;
}
.contact-form-info ul li a:hover i svg{
	fill:#B3192A;
}


/*
-----------------
 Responsive Css
-----------------
*/

@media(max-width: 1199px){
    .contact-form-lft {
        padding-right: 70px;
    }
    .page-entry-hdr {
        padding-bottom: 45px;
    }

    .page-entry-hdr .fl-blue-btn {
        font-size: 45px;
        padding: 8px 30px;
    }
    .contact-form-info ul li span,
    .contact-form-info ul li a {
        font-size: 18px;
        line-height: 20px;
    }
    .contact-form-sec-wrp {
        padding-bottom: 65px;
    }
    .page-entry-header .fl-h2{
        font-size: 32px;
    }

}

@media(max-width: 991px){
    .page-entry-hdr {
        padding-bottom: 35px;
    }
    .contact-form-block {
        padding-top: 10px;
    }
    .page-entry-hdr .fl-blue-btn{
        font-size: 42px;
    }
    .contact-form-lft {
        padding-right: 40px;
        width: 70%;
    }
    .contact-form-info-cntlr {
        padding: 60px 15px 18px;
    }
    .contact-form-rgt {
        width: 30%;
    }
    .contact-form-info ul li span,
    .contact-form-info ul li a {
        font-size: 16px;
        line-height: 18px;
    }
    .contact-form-sec-wrp {
        padding-bottom: 40px;
    }
    .page-entry-header .fl-h2{
        font-size: 27px;
    }
    
}

@media(max-width: 767px){
     
    .page-template-page-contact .header {
        margin-bottom: 15px;
    }
    .page-template-page-contact .ftr-top-contact-sec-inr{
        border-top: none;
    }
    .page-entry-hdr {
        padding-bottom: 30px;
    }
    .contact-form-block {
        padding-top: 0;
    }
    .page-entry-hdr .fl-blue-btn {
        font-size: 30px;
        margin-left: -15px;
        padding: 5px 35px 5px 25px;
        width: 210px;
        height: 35px;
    }
    .contact-form-rgt {
        width: 100%;
    }
    .contact-form-lft {
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 60px;
        width: 100%;
    }
    .page-entry-header{
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .page-entry-header p,
    .page-entry-header .fl-h2{
        text-align: center;
    }
    .page-entry-header p{
        margin-bottom: 35px;
    }
    .page-entry-header .fl-h2{
        text-transform: inherit;
        font-size: 24px;
    }
    .contact-form-info-cntlr {
        padding: 35px 15px 45px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .contact-form-info ul li span,
    .contact-form-info ul li a {
        font-size: 12px;
        line-height: 14px;
    }
    .contact-form-info ul li a i {
        display: block;
        padding-bottom: 10px;
    }
    .contact-form-info ul li a i svg{
        width: 20px;
        height: 20px;
    }
    .contact-form-info ul li {
        padding-bottom: 20px;
    }
    .contact-form-info-title{
        margin-bottom: 40px;
    }
    .contact-form-sec-wrp {
        padding-bottom: 0;
    }
}

@media(max-width: 575px){ 
    .input-type-radio ul li label{
        font-size: 10px;
    }
    .checkmark{
        top: 3px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label{
        font-size: 12px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
        font-size: 12px;
        height: 45px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
        font-size: 12px;
        height: 148px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
        max-width: 215px;
        width: 100%;
        height: 50px;
        font-size: 11px!important;
        padding: 16px 10px 15px!important;
        display: table;
        margin: 0 auto;
    }
    .wpforms-field-text p {
        font-size: 10px;
        margin-bottom: 15px;
        padding-top: 0;
        text-align: center;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea{
        margin-bottom: 16px;
    }
    .input-type-radio label,
    .input-type-radio label{
        padding-right: 20px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p {
        padding-top: 14px !important;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
    .page-entry-header .fl-h2{
        font-size: 20px;
    }
    .page-template-page-contact .ftr-top-contact-sec{
        display: none;
    }
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}




