.ftr-top-contact-sec-inr{
	padding-top: 50px;
	padding-bottom: 25px;
	border-top: 1px solid #F2EADE;
}

.ftr-top-contact-lft{
	float: left;
	width: 46.4285%;
	padding-right: 20px;
}
.ftr-top-contact-rgt{
	float: right;
	width: 53.5714%;
}


.ftr-top-cnt-lft-title{
	font-size: 22px;
	line-height: 1.2;
	font-family: 'Sora', sans-serif;
    font-weight: 600;
}


.ftr-top-contact-sec .wpforms-form .wpforms-field-container:after,
.ftr-top-contact-sec .wpforms-form .wpforms-field-container:before{
	content: "";
	display: table;
	clear: both;
}


.ftr-top-contact-sec .wpforms-field-container{
	margin-left: -13px!important;
	margin-right: -13px!important;
	text-align: right;
}
.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field{
	float: left;
	width: 33.3333%;
	padding: 0 13px;
	padding-bottom: 20px;
	clear: inherit!important;

}
.ftr-top-contact-sec div.wpforms-container-full .wpforms-form .wpforms-error {
    margin-top: 10px !important;
    font-size: 14px !important;
}

.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-html{
	width: 100%!important;
}
.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-html p{
	font-size: 13px;
	font-weight: 300;
}
.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-html p a{
	color: #873C42;
	text-decoration: underline;
}
.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-html p a:hover{
	color: #6DBD98;
}

.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field input{
	width: 100%;
	max-width: 100%;
	height: 45px;
	background: #FFFBF4;
	border: 1px solid #F2EADE;
	box-sizing: border-box;
	padding: 10px 15px 10px;
	color: #78797B;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	border-radius: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}


.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field input:focus{
	border-color: #6DBD98;
}

.ftr-top-contact-sec .wpforms-form .wpforms-submit-container button{
	margin-left: auto;
	cursor: pointer;
}


.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #78797B;
  opacity: 1;
}
.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field input::-moz-placeholder { /* Firefox 19+ */
  color: #78797B;
  opacity: 1;
}
.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field input:-ms-input-placeholder { /* IE 10+ */
  color: #78797B;
  opacity: 1;
}
.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field input:-moz-placeholder { /* Firefox 18- */
  color: #78797B;
  opacity: 1;
}


.ftrTopSlider .swiper-slide{
	width: 16.6666%;
}

.ftr-slider-grd-item img{
	width: 100%;
}




.footer-wrp{
	padding-top: 60px;
}

.ftr-logo-ctlr{
	float: left;
	width: 34.2857%;
	padding-right: 20px;
}
.ftr-menu{
	float: left;
	padding-right: 20px;
}
.ftr-col-1{
	width: 25%;
}
.ftr-col-2{
	width: 25.3571%;
}
.ftr-col-3{
	width: 15.3571%;
}


.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
}

.ftr-menu-title{
	font-size: 16px;
	font-family: 'Sora', sans-serif;
    font-weight: 600;
    color: #78797B;
    margin-bottom: 25px;
}

.ftr-menu ul li{
	padding-bottom: 10px;
}
.ftr-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 14px;
	color: #78797B;
	text-decoration: underline;
}
.ftr-menu ul li a:hover,
.ftr-location a:hover,
.ftr-email a:hover,
.ftr-phone a:hover,
.ftr-btm-mdle-btm span a:hover{
	color: #BA0821;
}
.ftr-social-media ul li a:hover span{
	color: #BA0821;
}


.ftr-location{
	padding-bottom: 25px;
}
.ftr-email{
	padding-bottom: 10px;
}
.ftr-phone{
	padding-bottom: 25px;
}
.ftr-location a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 14px;
	color: #78797B;
	padding-left: 30px;
	position: relative;
}
.ftr-email a,
.ftr-phone a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 14px;
	color: #78797B;
	text-decoration: underline;
	padding-left: 30px;
	position: relative;
}

.ftr-location a:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: url('../images/ftr-location.svg');
	background-repeat: no-repeat!important;
	background-size: cover!important;
}
.ftr-email a:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 17px;
	background: url('../images/ftr-email.svg');
	background-repeat: no-repeat!important;
	background-size: cover!important;
}
.ftr-phone a:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 17px;
	background: url('../images/ftr-phone.svg');
	background-repeat: no-repeat!important;
	background-size: cover!important;
}


.ftr-middle-inr{
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: 1px solid #F2EADE;
	border-bottom: 1px solid #BA0821;
}
.ftr-middle-inr ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 12px;
	padding-right: 12px;
}

.ftr-social-media ul{
	margin-left: -15px;
	margin-right: -15px;
}
.ftr-social-media ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 15px;
	padding-right: 15px;
}
.ftr-social-media ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.ftr-social-media ul li a span{
	text-decoration: none;
	margin-left: 10px;
	font-size: 12px;
	color: #78797B;
	font-weight: 600;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.ftr-social-media{
	padding-bottom: 15px;
}


.ftr-btm-inr{
	display: flex;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 35px;
}
.ftr-copywrite{
	order: 1;
}
.ftr-designby{
	order: 3;
}
.ftr-btm-mdle{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	order: 2;
}

.ftr-copywrite p,
.ftr-btm-mdle-top span,
.ftr-btm-mdle-btm span,
.ftr-designby a{
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 400;
}
.ftr-btm-mdle-btm span strong{
	font-weight: 800;
	color: #B3192A;
}
.ftr-btm-mdle-btm span a{
	color: #71867E;
	text-decoration: underline;
}
.ftr-designby span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	font-weight: 300;
	color: #78797B;
}
.ftr-designby span a{
	font-weight: 300;
	color: #B3192A;
	text-decoration: underline;
}
.ftr-designby span a:hover{
	color: #6DBD98;
}


.ftr-top-sec{
	overflow: hidden;
}
.ftrTopSlider{
	margin-right: -60px;
}

.ftrTopSlider .ftr-slider-grd-item img{
	width: 100%;
}


@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	
}

@media(max-width: 1399px){
	.ftr-logo-ctlr{
		width: 30%;
	}
	.ftr-col-1 {
	    width: 23%;
	}
	.ftr-col-2 {
	    width: 23%;
	}
	.ftr-col-3 {
	    width: 24%;
	}
	.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field{
		width: 50%;
		padding: 0 8px;
		padding-bottom: 15px;
	}
	.ftr-top-contact-sec .wpforms-field-container {
	    margin-left: -8px!important;
	    margin-right: -8px!important;
	}
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	.ftr-top-contact-lft{
		width: 100%;
		padding-right: 0;
	}
	.ftr-top-contact-rgt {
	    width: 100%;
	    float: initial;
	}
	.ftr-top-contact-lft-inr,
	.ftr-top-contact-rgt{
		max-width: 600px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	.ftr-top-contact-sec .wpforms-field-container{
		text-align: center;
	}
	.ftr-top-contact-sec .wpforms-form .wpforms-submit-container button{
		margin-right: auto;
	}
	.ftr-logo-ctlr {
	    width: 100%;
	    text-align: center;
	    margin-bottom: 40px;
	    padding-right: 0;
	}
	.ftr-col-1,
	.ftr-col-2,
	.ftr-col-3{
	    width: 33.3333%;
	}
	.ftr-btm-inr{
		display: block;
	}
	.ftr-copywrite,
	.ftr-designby{
		text-align: center;
	}
	.ftr-btm-mdle{
		padding-bottom: 20px;
	}
	
}

@media(max-width: 767px){
	.ftr-col-1, .ftr-col-2, .ftr-col-3 {
	    width: 100%;
	    text-align: center;
	}
	.ftr-middle-inr.xs-btm-img{
		border-top: none;
		border-bottom: none;
	}
	.footer-wrp {
	    padding-top: 40px;
	}
	.ftr-logo{
		margin-bottom: 40px;
	}
	.ftr-logo a{
		padding-left: 100px;
		padding-right: 100px;
		position: relative;
	}
	.ftr-logo a:after{
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		width: 64px;
		height: 1px;
		background: #BA0821;
	}
	.ftr-logo a:before{
		content: "";
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		width: 64px;
		height: 1px;
		background: #BA0821;
	}
	.ftr-menu ul li a{
		text-decoration: none;
	}
	.ftr-top{
		padding-bottom: 20px;
	}
	.ftr-btm-inr{
		border-top: 2px solid #F2EADE;
		padding-top: 20px;
    	padding-bottom: 60px;
	}
	.ftr-middle-inr ul li{
		padding-left: 8px;
		padding-right: 8px;
	}
	.ftr-middle-inr ul li img{
		max-width: 70px;
		width: 100%;
	}
	.ftr-middle-inr{
		padding-top: 0;
		padding-bottom: 0;
	}
	.ftr-copywrite{
		padding-bottom: 7px;
	}
	.ftr-menu ul li a{
		font-size: 11px;
		font-weight: 600;
	}
	.ftrTopSlider .swiper-slide {
	    width: 33.3333%;
	}
	.ftr-btm-mdle{
		padding-bottom: 0;
	}
	.ftr-designby span{
		font-size: 10px;
	}
}

@media(max-width: 575px){
	.ftr-top-contact-sec-inr {
	    padding-top: 35px;
	    padding-bottom: 60px;
	    border-top: none;
	}
	.ftr-top-contact-sec .wpforms-field-container{
		margin-left: 0;
		margin-right: 0;
	}
	.ftr-top-contact-sec .wpforms-form .wpforms-field-container .wpforms-field {
	    width: 100%;
	    padding: 0 0px;
	    padding-bottom: 12px;
	}
	

}

@media(max-width: 479px){
	.ftr-middle-inr ul li {
	    padding-left: 0;
	    padding-right: 0;
	}
	.ftr-designby a{
		font-size: 10px;
	}

}

@media(max-width: 359px){

}

