.header{
	position: relative;
}
.comnined-shape{
	position: absolute;
	left: 0;
	bottom: 20px;
}
.header-inr{
	position: relative;
	padding-left: 140px;
}
/*language*/
.hdr-language{
	position: absolute;
	top: 0;
	right: 0;
	background: #b4192b;
}

.fl-lang{
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
}
.fl-lang-cntlr{
	position: relative;
	min-height: 48px;
	margin-right: -4px;
	padding-left: 5px;
	min-width: 97px;
}
.fl-lang ul li.lang-active{
	position: relative;
	opacity: 1;
	padding-top: 0;
	
}
.fl-lang ul li.lang-active a{
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
}
.fl-lang ul li{
	position: absolute;
	text-align: left;
	left: 0;
	right: 0;
	top: 3px;
	padding-right: 32px;
	opacity: 0;
	z-index: 22;
	padding-bottom: 5px;
	padding-left: 26px;;
}
.fl-lang ul li a{
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;
}
.fl-lang-cntlr:after{
	content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
    padding-right: 0;
    position: absolute;
    top: 17px;
    right: 31px;
    line-height: 15px;
    z-index: 21;

}
.fl-lang ul li a:hover,
.hdr-wishlist-btn strong:hover,
.hdr-search button:hover{
	/*color: #FF674D;*/
	opacity: 0.8;
}
.fl-lang-cntlr ul{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 20;
	padding: 10px 0 5px 0;	
}
.fl-lang-cntlr:hover ul{
	background-color: #b4192b;
	-webkit-box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	-moz-box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	text-align: left;
}
.fl-lang-cntlr:hover{
	overflow: initial;
}
.fl-lang-cntlr:hover li.lang-active,
.fl-lang-cntlr:hover li{
	position: relative;
	opacity: 1!important;
	padding-top: 0;
	padding-right: 22px;
}
.fl-lang-cntlr li.lang-active a{
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
}

/*language*/
.hdr-lft{
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.logo a{
	display: inline-block;
}


nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav{
	display: flex;
	align-items: center;
}
nav.main-nav > ul:last-child{
	margin-left: auto;
}
nav.main-nav > ul:last-child > li:last-child{
	padding-right: 54px;
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	margin: 0 -30px;
	padding-top: 84px;
}
nav.main-nav > ul > li{
	padding: 0 30px;
	line-height: 1;
	position: relative;
}
nav.main-nav > ul > li > a{
	position: relative;
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
	color: #71867E;
	padding-bottom: 84px;
}
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a,
nav.main-nav > ul > li.menu-item-has-children:hover a,
nav.main-nav > ul > li.current-menu-item > a{
	color: #B3192A;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	z-index: 15;
	width: 200px;
	padding: 0 2px 0 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transform: scale3d(1,0,1);
	-ms-transform: scale3d(1,0,1);
	-webkit-transform: scale3d(1,0,1);
	-o-transform: scale3d(1,0,1);
	transform-origin: top;
	opacity: 0;
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
	-ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
	-webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
	z-index: 15;
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 10px 0 10px 10px;
    line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #B3192A;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-decoration: none;
    color: #71867E;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    opacity: 0;
    background: #B3192A;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after{
	height: 100%;
    opacity: 1;
}


/*hm banner*/
.hm-banner{
	position: relative;
	height: 895px;
	background: 
}
.hm-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.hm-banner-bg > img{
	display: none;
}
.hm-banner .container,
.hm-banner .container .row,
.hm-banner .container .row .col-md-12{
	height: 100%;
}
.hm-banner-cntlr{
	height: 100%;
	position: relative;
	z-index: 5;
	padding-left: 275px;
}
.hm-banner-title{
	color: #6DBD98;
	line-height: 1.2;
	text-transform: uppercase;
}
.hm-banner-btn{
	position: absolute;
	bottom: 72px;
	left: 65px;
}
.hm-banner-btn a:hover{
	background: #fff;
	border-color: #fff;
}

/*fixed cart socials*/
.sitebar-add-cart{
	position: fixed;
	right: 0;
	top: 555px;
	z-index: 999;
}
.sitebar-add-cart a{
	width: 83px;
	height: 83px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #6DBD98;
}
.sitebar-add-cart a:hover{
	background: #b4192b;
}
.sitebar-socials{
	background: #b4192b;
	position: fixed;
	right: 0;
	top: 648px;
	z-index: 999;
	padding: 27px 31px;
}
.sitebar-socials ul{

}

.sitebar-socials ul li{
	padding: 10px 0;
}
.sitebar-socials ul li:first-child{
	padding-top: 0;
}
.sitebar-socials ul li:last-child{
	padding-bottom: 0;
}
.sitebar-socials ul li a{
	color: #fff;
	display: inline-block;
	font-size: 24px;
}
.sitebar-socials ul li a:hover{
	opacity: 0.8;
}