.block-955{
	max-width: 925px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.block-1440{
	max-width: 1440px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.innerpage-con-wrap{
	overflow: hidden;
	position: relative;
}
.default-page-con {
	padding-bottom: 75px;
	padding-top: 70px;
}

.fl-dft-overflow-controller {
	overflow: hidden;
}
.default-page-con h1,
.dfp-promo-module-title,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 20px;
	line-height: 1.1;
}
.dfp-promo-module-title{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	display: inline-block;
	margin-bottom: 0;
	padding: 10px 50px;
	background: #B3192A;
	position: absolute;
	top: 85px;
	left: -300px;
}

.dfp-text-module{
	
}
.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}
.default-page-con ul li,
ul li {
	padding: 5px 0 8px 22px;
	position: relative;
	line-height: 22px;
}

.default-page-con ul li::before,
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	width: 10px;
	height: 10px;
	background: #B3192A;
	border-radius: 100%;
	margin-top: -2px;
}
ul li.refGridItem:before{
	display: none;
}
.default-page-con ol, ol {
	padding: 0 0 0 0;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li ,ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding-bottom: 10px;
	line-height: 24px;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	color: #B3192A;
	font-weight: 600;
	margin-right: 8px;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	padding: 0 5.5px 0 1px;
}
.default-page-con p {
    margin-bottom: 25px;
}

.dfp-promo-module{
	padding-bottom: 45px;
	position: relative;
}


.dfp-plate-one-img-bx img{
	width: 100%;
}


.ac-fancy-module{
	overflow: hidden;
	max-width: 100%;
    width: 100%;
    height: 530px;
    position: relative;
    margin-bottom: 30px;
}
.fancy-img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ac-fancy-module:hover .fancy-img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.ms-video-play-cntlr{
    position: absolute;
    left: 15px;
    bottom: 18px;
    color: #fff;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1;
}



.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
}
.fl-dft-lftimg-rgtdes-lft{
	min-height: 452px;
}
.fl-dft-lftimg-rgtdes-lft-img-scale{
	position: relative;
	overflow: hidden;
}
.fl-dft-lftimg-rgtdes-lft-img-inr{
	width: 100%;
	height: 100%;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-lftimg-rgtdes-rgt {
	width: 50%;
	float: left;
	position: relative;
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 0;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-testi-controller{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}



/*-- left des right img customize---*/
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
	padding-top: 10px;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
	order: 2;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 42px;
}



.dft-2grd-img-con-item{
	position: relative;
}


/*
Gallery design
*/

.gallery-wrap{
	padding-top: 7px;
	padding-bottom: 10px;
}
.gallery {
	margin-left: -12px;
	margin-right: -12px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 12px;
	margin-bottom: 24px;
}

.gallery-item img {
	width: 100%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}


.gallery-icon-img{
	height: 450px;
}

.glry-col-3 .gallery-icon-img{
	height: 285px;
}

.glry-col-2 .gallery-icon-img{
	height: 263px;
}




.dft-blockquote{
	background: #71867E;
	padding: 65px 60px 55px 65px;
	color: #fff;
	margin-bottom: 30px;
}
.dft-blockquote blockquote{
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
}
.dft-blockquote blockquote p{
	margin-bottom: 0;
}

.cta-ctlr{
	text-align: center;
	color: #fff;
	padding: 40px 20px 30px 20px;
	background: #71867E;
	border-radius: 4px;
}
.cta-title{
	color: #fff;
	margin-bottom: 8px;
}
.cta-btn .fl-transparent-btn{
	border-color: #fff;
	padding: 17px 66px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	width: 158px;
}
.cta-btn .fl-transparent-btn:hover{
	background: #fff;
	color: #71867E;
}


.dfp-prdt-item-module .prdt-item{
	max-width: 100%;
	margin-bottom: 30px;
	padding: 50px 0;
	padding-right: 60px;
}
.dfp-prdt-item-module .prdt-fea-img {
    max-width: 100%;
    width: 100%;
}

.dfp-des-lft {
    float: left;
    width: 50%;
    padding-right: 30px;
}
.dfp-des-rgt {
    float: right;
    width: 50%;
    padding-right: 30px;
}


.fl-product-module .fl-products-cntlr{
	padding-bottom: 10px;
}
.fl-product-module ul{
	margin-left: -12px;
	margin-right: -12px;
}
.fl-product-module ul li{
	float: left;
	width: 25%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}
.fl-product-module ul li:nth-child(4n+1){
	clear: left;
}

.fl-product-module .fl-pro-grd-title{
	margin-bottom: 7px;
	color: #71867E;
	text-transform: uppercase;
}

.fl-product-module .product-lenth p{
	margin-bottom: 18px;
}




.dfp-single-img-ctlr{
	float: left;
	width: 60%;
}
.dfp-small-img{
	float: left;
	width: 40%;
	padding-left: 25px;
	margin-top: -17px;
	margin-bottom: -17px;
}

.dfp-small-img-top{
	padding-top: 17px;
	padding-bottom: 17px;
}
.dfp-small-img-btm{
	padding-top: 17px;
	padding-bottom: 17px;
}

/*.dfp-single-img{
	min-height: 555px;
}
.dfp-small-img-top{
	min-height: 330px;
}
.dfp-small-img-btm{
	min-height: 190px;
}*/



/*news details */

@media(max-width: 1599px){
	.dfp-promo-module-title{
		left: -200px;
	}
}

@media(max-width: 1499px){
	.block-1440{
		padding-left: 15px;
		padding-right: 15px;
	}
	.hm-product-module .hm-product-grds{
		margin-left: -10px;
		margin-right: -10px;
	}
}
@media(max-width: 1399px){
	.dfp-promo-module-title {
	    left: -100px;
	}
	.fl-product-module ul li{
		width: 33.3333%;
	}
	.fl-product-module ul li:nth-child(4n+1) {
	    clear: none;
	}
	.fl-product-module ul li:nth-child(3n+1) {
	    clear: left;
	}
}

@media(max-width: 1199px){
	.block-955{
		padding-left: 15px;
		padding-right: 15px;
	}
	.dfp-promo-module-title {
	    left: -49px;
	}
	.fl-product-module ul li{
		width: 50%;
	}
	.fl-product-module ul li:nth-child(3n+1) {
	    clear: none;
	}
	.fl-product-module ul li:nth-child(2n+1) {
	    clear: left;
	}
}


@media(max-width: 991px){
	.dfp-promo-module-title {
	    left: -15px;
	}
	.default-page-con{
		padding-bottom: 80px;
	}
	.dfp-single-img-ctlr {
	    width: 59.5%;
	}
	.dfp-small-img{
		width: 40.5%;
	}
	.gallery-icon-img {
	    height: 350px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 240px;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 350px;
	}
	.dfp-small-img{
		margin-top: -15px;
		margin-bottom: -15px;
	}
	.dfp-small-img-top,
	.dfp-small-img-btm{
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
	.fl-product-module .fl-pro-grd-des .fl-pro-grd-title {
	    font-size: 20px;
	}
}
@media(max-width: 850px){
	
}

@media(max-width: 767px){
	.dfp-promo-module {
	    padding-bottom: 30px;
	}
	.dfp-promo-module > strong{
		font-size: 24px;
		line-height: 30px;
	}
	.default-page-con .dft-grd-col-list-item ul {
	    width: 100%;
	}
	.dft-img-title-grd-col{
		width: 100%;
		float: none;
	}
	.default-page-con{
		padding-bottom: 100px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		padding-right: 20px;
	}
	.dfp-tbl-wrap{
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #F1E8E1;
	}
	.dft-cr-leg-post-grid-module.show-sm{
		margin-bottom: 0;
	}
	.default-page-con{
		padding-bottom: 70px;
		padding-top: 20px;
	}
	.table-dsc {
	    overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	}
	.table-dsc::-webkit-scrollbar {
	  height: 6px;
	}
	.table-dsc::-webkit-scrollbar-thumb {
	  background: #F7C9C8;
	  border-radius: 4px;
	}
	.table-dsc table {
	    width: 700px;
	}
	.default-page-con h2 {
	    margin-bottom: 20px;
	}
	.default-page-con p {
	    margin-bottom: 20px;
	}
	.default-page-con ol li, ol li{
		padding-bottom: 10px;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 230px;
	}
	.dfp-single-img-slider-module .verblijf-slider-ctlr .slick-slider ul.slick-dots {
	    bottom: -30px;
	}
	.dfp-des-lft,
	.dfp-des-rgt{
		padding-right: 20px;
	}
	.dfp-text-module{
		padding-right: 10px;
	}
	.pn-con-bar {
	    margin-bottom: 30px;
	}
	.default-page-con ul li::before, 
	ul li::before{
		margin-top: -2px;
	}
	.gallery-wrap{
		padding-bottom: 0;
	}
	.ac-fancy-module{
		height: 400px;
		margin-bottom: 20px;
	}
	.default-page-con hr{
		margin-bottom: 25px;
	}
	.cta-ctlr{
		padding: 60px 20px;
	}
	.cta-ctlr p br{
		display: none;
	}
	.hm-product-module .hm-product-grds {
	    margin-left: 0;
	    margin-right: 0;
	}
	.hm-product-module .hmProdctGrdsSlideItme{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.hm-product-module .hmProdctGrdsSlideItme .fl-product-grd{
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
	}
	.hm-product-module {
	    margin-bottom: 20px;
	}
	.dfp-slider-module {
	    margin-top: 50px;
	}
	.dfp-btn-module {
	    margin-bottom: 30px;
	    padding-top: 15px;
	}
	.gallery-wrap{
		padding-top: 0;
	}
	.ms-video-play-cntlr{
		width: 50px;
    	height: 50px;
	}
	.dft-blockquote blockquote{
		font-size: 18px;
		line-height: 24px;
	}
	.dft-blockquote {
	    padding: 50px 40px 45px 50px;
	    margin-bottom: 20px;
	}
	.cta-ctlr {
	    padding: 40px 30px;
	}
	.fl-pro-grd-img{
		min-height: 250px;
	}
	.fl-pro-grd-des {
	    padding: 15px 15px 10px 15px;
	}
	.fl-pro-grd-btn .fl-blue-btn{
		max-width: 100%;
		width: 100%;
	}
	.fl-pro-grd-btn .fl-blue-btn:after{
		left: 22px;
	}
	.gallery-icon-img {
	    height: 240px;
	}

	.xs-fl-white-bg{
		background: #fff;
	}
	.xs-lien-bg{
		background: #faf5ef;
		padding: 25px 15px 10px;
		margin-bottom: 30px;
		-webkit-box-shadow: inset 0px 5px 0px 0px rgb(0,0,0,0.02);
		box-shadow: inset 0px 5px 0px 0px rgb(0,0,0,0.02);
	}
	.xs-fl-white-bg .fl-bein-bg{
		background: #faf5ef;
	}
	.xs-lien-bg.lien-bg2{
		padding: 2px 0 30px;
	}
	.xs-lien-bg.lien-bg2 .dfp-text-module,
	.xs-lien-bg.lien-bg2 .dfp-cta-module{
		padding: 0 15px;
	}
	.gallery {
	    margin-left: -8px;
	    margin-right: -8px;
	}
	.gallery-item {
	    padding: 0 8px;
	    margin-bottom: 16px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 170px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 180px;
	}
	.fl-product-module .fl-pro-grd-des .fl-pro-grd-title {
	    font-size: 18px;
	}
	.fl-product-module {
	    padding-bottom: 15px;
	}
}



@media(max-width: 639px){
	
	
}



@media(max-width: 575px){
	.dfp-promo-module {
	    padding-bottom: 30px;
	}
	.gallery {
	    margin-left: -5px;
	    margin-right: -5px;
	    padding-bottom: 5px;
	}
	.gallery-item {
	    padding: 0 5px;
	    margin-bottom: 10px;
	}
	.default-page-con ol,
	.default-page-con ul,
	ol,ul{
		padding-left: 0;

	}
	.default-page-con ol li, ol li {
	    padding-bottom: 6px;
	}
	.default-page-con ol li::before, ol li::before{
		margin-right: 5px;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 240px;
	}
	.dft2grdImgConSlider .slick-prev, 
	.dft2grdImgConSlider .slick-next{
		width: 34px;
		height: 34px;
		background-size: 100% 100%;
		top: 95px;
		transform: initial;
		z-index: 10;
	}
	.dft2grdImgConSlider .slick-prev{
		background: url(../images/prev-arrow-xs.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		left: 0;
	}
	.dft2grdImgConSlider .slick-next{
		background: url(../images/next-arrow-xs.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		right: 0;
	}
	.dft2grdImgConSlider .slick-prev:before, 
	.dft2grdImgConSlider .slick-next:before{
		content: none;
	}
	.default-page-con{
		padding-bottom: 50px;
	}
	.dft-2grd-img-con-item-des h4{
		margin-bottom: 15px;
	}
	.default-page-con p {
	    margin-bottom: 15px;
	}
	.default-page-con ul li, ul li {
	    padding: 2px 0 8px 20px;
	    line-height: 18px;
	}
	.default-page-con ul li::before, ul li::before{
		margin-top: -4px;
	}
	.default-page-con h1, .default-page-con h2, .default-page-con h3, .default-page-con h4, .default-page-con h5 {
	    margin-bottom: 20px;
	}
	.dfp-plate-one-img-bx .dft-blog-item-des-date{
		display: none;
	}
	.fl-dft-lftimg-rgtdes-lft i svg{
		width: 50px!important;
		height: 50px!important;
	}
	.fl-dft-lftimg-rgtdes-lft span svg{
		width: 30px!important;
		height: 31px!important;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 200px;
	}
	.dfp-cta-module {
	    margin-bottom: 0;
	}
	.ac-fancy-module{
		height: 300px;
	}
	.ms-video-play-cntlr {
	    height: 36px;
	    width: 36px;
	}
	.default-page-con hr{
		margin-bottom: 22px;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-left: 15px;
	}
	.dfp-btn-module a{
		width: 154px!important;
		height: 40px!important;
	}
	.dfp-des-lft,
	.dfp-des-rgt{
		padding-right: 10px;
	}
	.pn-con-bar {
	    margin-bottom: 20px;
	}
	.dfp-slider-module {
	    margin-top: 25px;
	}
	
	.dfp-single-img-module {
	    margin-top: 0;
	}
	.dft-blockquote {
	    padding: 30px 30px 25px 35px;
	    margin-bottom: 20px;
	}
	.dft-blockquote blockquote {
	    font-size: 14px;
	    line-height: 24px;
	}
	.cta-ctlr {
	    padding: 35px 35px;
	    padding-bottom: 25px;
	}
	
	.fl-product-module ul{
		margin-left: -8px!important;
		margin-right: -8px!important;
	}
	.fl-product-module ul li {
	    padding-left: 8px!important;
	    padding-right: 8px!important;
	    padding-bottom: 15px!important;
	}
	
	.woocommerce-Price-amount.amount bdi{
		margin-bottom: 12px;
	}
	.dfp-small-img{
		padding-left: 10px;
	}
	.fl-dft-lftimg-rgtdes{
		display: block;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt{
		width: 100%;
		margin-bottom: 20px;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt{
		width: 100%;
		padding-left: 0;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		padding-right: 0;
	}
	.dfp-single-img-ctlr {
	    width: 61%;
	}
	.dfp-small-img {
	    width: 38.5%;
	}
	.gallery-icon-img {
	    height: 200px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 120px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 130px;
	}
	.fl-product-module .fl-pro-grd-des .fl-pro-grd-title {
	    font-size: 16px;
	    margin-bottom: 2px;
	}
	.fl-product-module .product-lenth p {
	    margin-bottom: 8px;
	}
	.dfp-prdt-item-module .prdt-itm-titl{
		margin-bottom: 7px;
	}
	.fl-dft-lftimg-rgtdes{
		padding-bottom: 0;
	}

}


@media(max-width: 479px){
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 150px;
	}
	.dfp-cta-module {
	    margin-bottom: 0;
	}
	.ac-fancy-module{
		height: 250px;
	}
	.dfp-btn-int{
		padding-right: 0;
		padding-bottom: 20px;
	}
	.dfp-btn-module{
		margin-bottom: 0;
		padding-top: 0;
	}
	.dfp-btn-int{
		display: block;
	}
	.dfp-btn-int .fl-trnsprnt-btn{
		padding: 12px 45px;
	}
	.dfp-slider-module {
	    margin-top: 0;
	}
	.default-page-con {
	    padding-bottom: 0;
	}
	.fl-pro-grd-img{
		min-height: 160px;
	}
	.fl-pro-grd-text {
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.fl-pro-grd-btn .fl-blue-btn {
	    font-size: 9px;
	}
	.fl-pro-grd-btn .fl-blue-btn:after {
	    left: 6px;
	    margin-top: -2px;
	}
	.fl-pro-grd-des {
	    padding: 15px 0 10px 0;
	}
	.dfp-small-img {
	    width: 37.5%;
	}
	.gallery-icon-img {
	    height: 149px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 95px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 100px;
	}
	.dfp-promo-module-title{
		padding: 2px 15px 2px 35px;
		display: inline-block;
		vertical-align: baseline;
	}
	
}



@media(max-width: 359px){

}
