.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}


/*responsive*/
@media(max-width: 1599px){
	.hm-banner-cntlr{
		padding-left: 200px;
	}
}
@media(max-width: 1399px){
	
}
@media(max-width: 1299px){
	.hm-banner-cntlr{
		padding-left: 150px;
	}
}
@media(max-width: 1199px){
	.hm-banner{
		height: 750px;
	}
	.hm-banner-cntlr{
		padding-left: 100px;
		padding-top: 50px;
	}
}
@media(max-width: 991px){
	.hm-banner{
		height: 650px;
	}
	.hm-banner-cntlr{
		padding-left: 60px;
		padding-top: 30px;
	}
}
@media(max-width: 767px){
	.hm-banner{
		height: 550px;
	}
	.hm-banner-cntlr{
		padding-left: 20px;
		padding-top: 10px;
	}
	.hm-banner-title br{
		display: block!important;
	}
	.hm-banner-bg{
		top: 150px;
	}
	.hm-banner-btn{
		left: 25px;
		bottom: 47px;
	}
}
@media(max-width: 575px){
	.hm-banner{
		height: 450px;
	}
	.hm-banner-cntlr{
		padding-top: 0;
	}
	.hm-banner-bg{
		top: 100px;
	}
}