
.thank-you-section{
	padding-top:84px;
	padding-bottom:0;
}
body.woocommerce-page.woocommerce-order-received .default-page-con{
	padding-bottom:0;
}
body.woocommerce-order-received .checkout-page-title .checkoutpt-right{
	padding-top:0;
}
.thnk-you-des p br{
	display: none
}
.thank-you-sec-cntlr{
/* 	max-width:740px;
	margin:0 auto; */
}
.thnk-you-des{
	display: flex;
}
.thnk-you-des-left{
	width: 126px;
	height: 126px;
}
.thnk-you-des i{
	display: inline-block;
	vertical-align:baseline;
	width: 100%;
	height: 100%;
}
.thnk-you-des i img{
	height: auto;
}
.thank-you-des-sub-title{
	font-size: 18px;
	font-family: 'Sora', sans-serif;
	font-weight: 700;
	color: #b41929;
}
.thank-you-des-title{
	text-transform: uppercase;
	color: #71867f;
}
.thnk-you-des a{
	font-size:14px;
	font-weight:300;
	display: inline-block;
	vertical-align: baseline;
	line-height: 1.2;
	margin-bottom:14px;
}
.thnk-you-des-rgt{
	padding-left: 40px;
}
.thnk-you-des-rgt p{
	font-weight: 300;
	margin-bottom: 0;
}
.thnk-you-des .thank-you-des-title, .thank-you-des-sub-title{
	margin-bottom:12px;
}
.thnk-you-social-des-cntlr{
	
}
.thnk-y-social-des .thnk-you-social-des-title{
    letter-spacing: -0.02em;
    color: #FDF8F5;
    margin-bottom: 12px;
}
.thnk-y-social-des {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 464px;
    width: 100%;
    margin: 0 auto;
    color: #FDF8F5;
    min-height:248px;
}
.thnk-you-social-des-cntlr {
    width: 100%;
    padding: 0px 80px;
}
.thnk-y-social-des p {
	color: #FDF8F5;
	margin-bottom: 27px;
}
.thnkY-social-link ul li i{
    display: inline-block;
    color: #fff;
    font-size: 24px;
}
.thnkY-social-link ul{
    display: flex;
    justify-content: center;
}
.thnkY-social-link ul li{
    padding: 0 14px;
}
.thnkY-social-link ul li a{
    display: inline-block;
    vertical-align: baseline;
}
.thnkY-social-link ul li a i:hover {
    color: #8ccc0c;
}
.woocommerce-order-received .innerpage-con-wrap {
    padding-top: 75px;
}
body.woocommerce-order-received .checkout-page-title{
	margin-bottom:15px;
}

/* order-products start */
.order-products{
	display: flex;
}
.orders-product-item{
	background: #fffaf4;
	padding: 53px 47px 67px 44px;
}
.order-head{
	display: flex;
	align-items: center;
	padding-bottom: 26px;
}	
.order-head span h2.order-title{
	font-size: 16px;
	letter-spacing: -0.02em;
	color: #71867E;
	margin-bottom: 0;
	text-transform: uppercase;
}
.order-head span:last-of-type{
	margin-left: auto;
	font-size: 12px;
}
.order-body{
	margin: -14px 0;
	padding-right: 35px; 
}
.body-list{
	display: flex;
	padding: 14px 0;
	align-items: center;
}
.image-title{
	display: flex;
	align-items: center;
}
.image-title i{
	width: 119px;
	height: 114px;
}
.image-title i img{
	width: 100%;
	height: 100%;
}
.title-meta .meta-title{
	font-size: 18px;
	color: #71867E;
	letter-spacing: -0.02em;
	margin-bottom: 18px;
}
.title-meta dl dd, .title-meta dl dt{
	font-size: 12px;
	line-height: 16px;
}
.title-meta dl{
	display: flex;
	margin-bottom: 0;
}
.quantity{
	margin-left: auto;
}
.deshboard-inner{
	margin-top: 30px;
	padding: 44px 36px 44px 32px!important;
}
.service-contact .srv-cont-title{
	font-family: 'Sora', sans-serif!important;
	margin-bottom: 33px;
}
/* order-products end */


@media(max-width:1199px){

}
@media(max-width:991px){
	.thnk-you-des .thank-you-des-title {
	    margin-bottom: 10px;
	}
	.thnk-you-des a{
		font-size:16px;
	}
	.thnk-you-des {
	    padding-bottom: 26px;
	}
	.thnk-y-social-des .thnk-you-social-des-title{
		font-size:20px;
	}
	
}
@media(max-width:768px){
	.thnk-you-des .thank-you-des-title{
		font-size:26px;
	}
	.thnk-y-social-des{
		max-width:410px;
	}
	.thnk-you-social-des-cntlr {
	    padding: 0px 60px;
	}
	body.woocommerce-order-received .checkout-page-title h1{
		display: none;
	}
	body.woocommerce-order-received .thank-you-section{
	    padding-top: 30px;
	    padding-bottom: 0;
	}
	.woocommerce-order-received .innerpage-con-wrap{
	    padding-top: 38px;
	}
}
@media(max-width:575px){
	.thnk-you-des a {
	    font-size: 14px;
	    margin-bottom:26px;
	}
	.thnk-y-social-des .thnk-you-social-des-title{
		font-size:16px;
		margin-bottom: 15px;
	}
	.thnk-you-des{
		padding-left: 20px;
	    padding-bottom: 40px;
	    padding-right: 20px;
	}
	.thnk-you-des .thank-you-des-title {
	    margin-bottom: 24px;
	}
	.thnk-y-social-des p{
		margin-bottom:15px;
		line-height: 1.5;
	}
	.thnk-you-des p br{
		display: block;
	}
	.thnk-y-social-des {
	    max-width: 380px;
	}
	.thnk-you-social-des-cntlr {
	    padding: 0px 10px;
	}
	.thank-you-section {
	    padding-top: 35px;
	    padding-bottom: 32px;
	}
}
